.campfire-image {
    height: 200px;
    width: 200px;
}

.home-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    // width: 1350px;
    justify-content: center;
    margin: auto;
}